<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <title>IPTV list</title>
    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.6/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@0.13.1/dist/hls.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/github-fork-ribbon-css@0.2.3/gh-fork-ribbon.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
    />
    <link rel="stylesheet" href="./index.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-HG9ML96XFK"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-HG9ML96XFK");
    </script>
    <script type="text/javascript" src="//js.users.51.la/21094553.js"></script>
  </head>
  <body>
    <a
      class="github-fork-ribbon right-top fixed"
      href="https://github.com/Shen-Yu/iptv-list"
      data-ribbon="Fork me on GitHub"
      title="Fork me on GitHub"
      target="_blank"
      >Fork me on GitHub</a
    >
    <div id="app">
      <div v-if="loading" class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
      <main v-else class="columns is-mobile">
        <div class="column is-full">
          <h1 class="title is-spaced">
            <a href="https://shen-yu.github.io/iptv-list/">IPTV list</a>
          </h1>
          <div class="search-bar">
            <div class="select is-primary">
              <select @change="selectCategory">
                <option value="">Select Category</option>
                <option
                  v-for="(i,d) in categories"
                  :value="i.slug"
                  :key="i.slug"
                >
                  {{i.name}}
                </option>
              </select>
            </div>
            <div class="select is-primary">
              <select @change="selectCountry">
                <option value="">Select Country</option>
                <option
                  v-for="(i,d) in countries"
                  :value="i.code"
                  :key="i.code"
                >
                  {{i.name}}
                </option>
              </select>
            </div>
          </div>
          <div class="table-container">
            <table class="table is-fullwidth">
              <thead>
                <th>Channel</th>
                <th class="cate">Category</th>
                <th class="url">Url</th>
                <th class="btns">Action</th>
              </thead>
              <tbody>
                <tr v-for="(i,d) in items" :key="i.url">
                  <td>{{i.name}}</td>
                  <td class="cate">
                    <span
                      v-for="item in i.categories"
                      :key="item.slug"
                      class="tag is-primary is-light"
                      >{{item.name}}</span
                    >
                  </td>
                  <td class="url">{{i.url}}</td>
                  <td class="btns">
                    <button
                      :data-clipboard-text="i.url"
                      @click="onCopy(i,d)"
                      class="button is-primary"
                      :class="`item_${d}`"
                    >
                      Copy
                    </button>
                    <button @click="onPlay(i,d)" class="button is-primary">
                      Play
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="content has-text-centered">
          <a href="https://github.com/Shen-Yu/iptv-list" target="_blank"
            >iptv-list</a
          >
          by
          <a href="https://github.com/Shen-Yu" target="_blank">Eric Shen</a> is
          licensed under
          <a href="https://mit-license.org/" target="_blank">MIT</a>.
        </div>
      </footer>
      <div :class="['modal',video_show&&'is-active']">
        <div class="modal-background"></div>
        <div class="modal-content">
          <video
            id="player"
            class="player"
            playsinline
            controls
            preload="none"
            controlslist="nodownload"
            width="100%"
          ></video>
        </div>
        <button
          @click="video_show=false"
          class="modal-close is-large"
          aria-label="close"
        ></button>
      </div>
    </div>
  </body>
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        items_all: [],
        items: [],
        categories: [],
        countries: [],
        isCopied: false,
        loading: true,
        modal_show: true,
        videoUrl: "",
        video_show: false,
      },
      mounted() {
        fetch("./channels.json").then(async (response) => {
          const items = await response.json();
          this.items_all = items;
          this.items = items;
          let arr_categories = [],
            arr_countries = [];
          const res = new Map();
          for (const item of items) {
            arr_countries = [...arr_countries, ...item.countries];
          }
          this.countries = arr_countries
            .filter((a) => !res.has(a.code) && res.set(a.code, 1))
            .sort((a, b) => a.name.localeCompare(b.name));

          const res2 = new Map();
          for (const item of items) {
            arr_categories = [...arr_categories, ...item.categories];
          }
          this.categories = arr_categories
            .filter((a) => !res2.has(a.slug) && res2.set(a.slug, 1))
            .sort((a, b) => a.name.localeCompare(b.name));
          this.loading = false;
        });
      },
      methods: {
        selectCategory(e) {
          const { value } = e.target;
          if (value) {
            this.items = this.items_all.filter(
              (i) => i.categories.filter((v) => v.slug === value).length > 0
            );
          }
        },
        selectCountry(e) {
          const { value } = e.target;
          if (value) {
            this.items = this.items_all.filter(
              (i) => i.countries.filter((v) => v.code === value).length > 0
            );
          }
        },
        handleToast(msg, type) {
          const Toast = Swal.mixin({
            toast: true,
            position: "top",
            showConfirmButton: false,
            timer: 2000,
            animation: false,
            didOpen: (toast) => {
              toast.addEventListener("mouseenter", Swal.stopTimer);
              toast.addEventListener("mouseleave", Swal.resumeTimer);
            },
          });
          Toast.fire({
            icon: type,
            title: msg,
          });
        },
        onCopy(i, d) {
          let clipboard = new ClipboardJS(`.item_${d}`);
          clipboard.on("success", () => {
            this.handleToast(`${i.name} Copied Success !`, "success");
          });
          clipboard.on("error", () => {
            this.handleToast(`${i.name} Copied Fail !`, "error");
          });
        },
        onPlay(i, d) {
          if (i.url.substr(0, 7) === "http://") {
            this.handleToast(
              `Sorry, but now it's only support https !`,
              "error"
            );
            return false;
          }
          if (Hls.isSupported()) {
            this.video_show = true;
            const video = document.getElementById("player");
            const hls = new Hls();
            hls.loadSource(i.url);
            hls.attachMedia(video);
            hls.on(Hls.Events.MANIFEST_PARSED, () => {
              console.log("Loaded Success ！");
              setTimeout(() => video.play(), 500);
            });
          }
        },
      },
    });
  </script>
</html>
